.submit
{
    width: 200px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    background-color: #66ffff;
}

.submit:hover
{
    background-color: #00ff00;
}

.header
{
    width: 85%;
    float: right;
    background-color: rgb(228, 31, 31);
}

.text
{
    text-align: center;
    padding: 30px;
    font-size: 40px;
    color: white;
}

.image
{
    margin: 0;
    width: 200px;
    height: 163px;
}

ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #888;
    float: left;
}

li
{
    float: left;
}

li a
{
    display: block;
    padding: 20px 43px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

a:hover
{
    background-color: #ff0000;
}

.subheading
{
    margin-top: 40px;
    text-align: center;
    color: rgb(12, 135, 184);
    font-size: 25px;
}

.donation 
{
    margin: 20px;
    font-size: 20px;
}

table, th, td
{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.lists{
    margin-left: 300px;
    font-size: 25px;
    color: rgb(12, 135, 184);;
}

.box{
    width: 820px;
    height: 285px;
    margin-left: 20px;
    border: 2px solid black;
}

.box2
{
    float: left; 
    margin-top: 20px;
    margin-left: 20px; 
    text-align: center;
    width: 95%;
    border: 2px solid black;
}

.video
{
    width: 500px;
    height: 300px;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    border: 2px solid black;
}