.header
{
    width: 85%;
    float: right;
    background-color: rgb(228, 31, 31);
}

.text
{
    text-align: center;
    padding: 30px;
    font-size: 40px;
}

.image
{
    margin: 0;
    width: 200px;
    height: 163px;
}

ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #888;
}

li
{
    float: left;
}

li a
{
    display: block;
    padding: 20px 43px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

a:hover
{
    background-color: #ff0000;
}

.subheading
{
    margin-top: 40px;
    text-align: center;
    color: rgb(12, 135, 184);
}

.donation 
{
    margin: 20px;
    font-size: 20px;
}

table, th, td
{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}