.login_cred
{
	width: 500px;
	height: 50px;
}

.text
{
	font-size: 30px;
	text-align: center;
	border-radius: 10px;
}

.submit
{
	border-radius: 10px;
	text-align: center;
	font-size: 30px;
	background-color: #66ffff;
}

a 
{
	font-size: 25px;
	margin-right: 15px;
}

.submit:hover
{
	background-color: #00ff00;
}

.image
{
	float: center;
	width: 400px;
	height: 300px;
	margin-top: 50px;
	margin-bottom: 20px;
}